<!DOCTYPE html>
<html>
<head>
  <title>DbcBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to('login'), :controller => 'sessions', :action => 'new' %>

<%= link_to('register'), :controller => 'users', :action => 'new' %>

<%= link_to('home'), root_path %>

<!-- need one for logout -->

<%= yield %>

</body>
</html>
